In [527]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns   
import datetime

In [528]:
df = pd.read_csv("~/Desktop/Weather-API-DATA-Engineering/data/csv/weather_api.csv")

In [529]:
#monthly medians on temperature, relative humidity, precipitation, and surface pressure for all available months

df['date'] = pd.to_datetime(df['time'])
df['year_month'] = df['date'].dt.to_period('M')

monthly_weather = df.groupby('year_month')[[
    'temperature_2m', 
    'relative_humidity_2m', 
    'precipitation', 
    'surface_pressure'
]].median()

monthly_weather.to_csv('~/Desktop/Weather-API-DATA-Engineering/data/csv/Monthly_median.csv',index = True)    

monthly_weather

,temperature_2m,relative_humidity_2m,precipitation,surface_pressure
year_month,,,,
2022-01,19.10,92.0,0.1,908.70
2022-02,19.10,92.0,0.0,909.20
2022-03,19.80,84.0,0.0,910.10
2022-04,18.45,83.0,0.0,911.30
2022-05,14.80,79.0,0.0,912.40
2022-06,15.40,73.0,0.0,913.10
2022-07,15.85,59.0,0.0,914.40
2022-08,16.70,56.0,0.0,914.00
2022-09,18.60,61.0,0.0,912.30
2022-10,19.80,72.0,0.0,910.70
2022-11,18.80,78.0,0.0,910.80
2022-12,20.40,86.0,0.0,910.50
2023-01,20.50,88.0,0.1,911.80
2023-02,21.80,86.0,0.0,912.60
2023-03,21.65,82.0,0.0,913.40
2023-04,19.70,81.0,0.0,912.80
2023-05,17.30,76.0,0.0,914.80
2023-06,15.80,78.0,0.0,916.10
2023-07,16.70,72.0,0.0,916.50
2023-08,18.80,69.5,0.0,915.30
2023-09,23.00,60.0,0.0,914.25
2023-10,22.60,80.0,0.0,912.20
2023-11,23.90,71.5,0.0,911.50
2023-12,23.30,76.0,0.0,911.80

In [530]:
#yearly medians on temperature, relative humidity, precipitation, and surface pressure for all available years
df['date'] = pd.to_datetime(df['time'])
df['year'] = df['date'].dt.to_period('Y')
yearly_weather = df.groupby('year')[[
    'temperature_2m', 
    'relative_humidity_2m', 
    'precipitation', 
    'surface_pressure'
]].median()

yearly_weather.to_csv('~/Desktop/Weather-API-DATA-Engineering/data/csv/Yearly_median.csv',index = True)

yearly_weather

      temperature_2m  relative_humidity_2m  precipitation  surface_pressure
year
2022            18.6                  78.0            0.0             911.4
2023            20.7                  78.0            0.0             913.4

In [534]:
#yearly medians on temperature, relative humidity, precipitation, and surface pressure for all available years along with harvest data 
# (million_60kgs_bag, nonbear_mill_trees, bear_mill_trees, avg_unemp_perc) for each respective year present for Minas Gerais
df_br = pd.read_csv("~/Desktop/Weather-API-DATA-Engineering/data/csv/br_final.csv")

#Dropping avg_unemp_perc column due to null data 
df_br.drop(columns=['avg_unemp_perc'], inplace=True)

#We want to group by year 
df_br["date"] = pd.to_datetime(df_br['year']).dt.year



#all available years along with harvest data (million_60kgs_bag, nonbear_mill_trees, bear_mill_trees, avg_unemp_perc) for each respective year present for Minas Gerais
ds_mg = df_br[df_br['subdivision'] == 'Minas Gerais']
yearly_harvest = ds_mg.groupby('year')[[
    
    'million_60kgs_bag', 
    'nonbear_mill_trees', 
    'bear_mill_trees', 
    
]].median()

yearly_harvest

      million_60kgs_bag  nonbear_mill_trees  bear_mill_trees
year
2002              16.20              1500.0           4465.0
2003              26.70              1125.0           5265.0
2004              14.40               631.0           5050.0
2005              21.40               466.0           5255.0
2006              16.30               581.0           5330.0
2007              23.70               563.0           5730.0
2008              16.85               679.0           5720.0
2009              25.55               663.0           5770.0
2010              22.10               873.0           5725.0
2011              28.50               815.0           5820.0
2012              23.50               835.0           5760.0
2013              28.50              1000.0           5860.0
2014              29.40              1055.0           5810.0
2015              26.00              1185.0           5770.0
2016              25.30              1125.0           5735.0
2017              32.50              1300.0           5640.0
2018              28.30                 NaN              NaN
2019              34.20              1150.0           5740.0
2020              29.10              1230.0           5700.0
2021              34.80              1050.0           6200.0
2022              24.50              1500.0           6010.0
2023              28.50              1510.0           6100.0

In [536]:
# yearly medians on temperature, relative humidity, precipitation, and surface pressure for all available years along with harvest data 
# (million_60kgs_bag, nonbear_mill_trees, bear_mill_trees, avg_unemp_perc) for each respective year present for Minas Gerais
#(Continued)


#Reading weather_api.csv for previous data of yearly medians on temperature, relative humidity, precipitation, and surface pressure 
df = pd.read_csv("~/Desktop/Weather-API-DATA-Engineering/data/csv/weather_api.csv")
df.dropna(inplace=True)


# Convert the 'time' column to datetime and then extract the year as Period type
df['date'] = pd.to_datetime(df['time'])
df['year'] = df['date'].dt.year

yearly_weather = df.groupby('year')[[
    
    'temperature_2m', 
    'relative_humidity_2m', 
    'precipitation', 
    'surface_pressure'
]].median()

In [535]:
#Combine both database and pull info for each respective year present for Minas Gerais 
yearly_combined = pd.merge(left = yearly_weather, right= yearly_harvest, on= 'year')
yearly_combined['subdivision'] = 'Minas Gerais'


#Save to CSV
yearly_combined.to_csv('~/Desktop/Weather-API-DATA-Engineering/data/csv/Yearly_combined.csv',index = True)


yearly_combined

,temperature_2m,relative_humidity_2m,precipitation,surface_pressure,million_60kgs_bag,nonbear_mill_trees,bear_mill_trees,subdivision
year,,,,,,,,
2022,18.6,78.0,0.0,911.4,24.5,1500.0,6010.0,Minas Gerais
2023,20.7,78.0,0.0,913.4,28.5,1510.0,6100.0,Minas Gerais